.title1{
color : rgb(255,255,255);	
font-size: 100%;	
	}
.title2{
color : rgb(255,255,255);	
margin-left: 1%;
font-size: 100%;
}









.logo{
width:40%; 
margin-top: 5%;
}


.navclass{
background-color: lightyellow;
width: 100%;
}

#menu lu , #menu li , #menu .sousMenu{
font-size: 100%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

#menu li {
    display: inline;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: lightgreen;
}
#menu .sousMenu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	display: none; 
}

#menu .sousMenu li
{
	float: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	font-size: 100%;
}

#menu .sousMenu li a:link,
#menu .sousMenu li a:visited 
{
	display: block;
	color: #FFF;
	margin: 0;
	border: 0;
	text-decoration: none;
}

#menu .sousMenu li a:hover
{
	background-image: none;
	background-color: lightblue;
}


#menu li:hover > .sousMenu { 
	display: block; 
}









.para{
background-color: lightyellow;
border-radius: 10%;	
width: 50%;
}

.para b{
text-shadow: 1px 1px 8px blue;
}

}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
	display: none;
	}
	
.text {
  color: rgb(0,0,0);
  font-size: 140%;
  padding: 1em ;
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}



.prep{
width: 20em;
height: 30em;
overflow: scroll;
margin-top: 2em;
margin-left: 20em;
}


footer{
font-size: 100%;
}








@media only screen and (max-width: 767px){
.title1{
color : rgb(255,255,255);	
font-size: 100%;
	}
.title2{
color : rgb(255,255,255);	
margin-left: 40%;
font-size: 100%
}








.logo{
width:100%; 
margin-top: 5%;
}

.navclass{
background-color: lightyellow;
width: 100%;
}

#menu lu , #menu li , #menu .sousMenu {
font-size: 80%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
}

#menu li {
    display: inline;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px 10px 10px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: blue;
}
#menu .sousMenu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	display: none; 
	padding: 10px 40px 0px 0px;
	font-size: 100%;
}

#menu .sousMenu li
{
	float: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
}

#menu .sousMenu li a:link,
#menu .sousMenu li a:visited 
{
	display: block;
	color: #FFF;
	margin: 0;
	border: 0;
	text-decoration: none;
}

#menu .sousMenu li a:hover
{
	background-image: none;
	background-color: #F2462E;
}


#menu li:hover > .sousMenu { 
	display: block;	
}









.para{
background-color: lightyellow;
border-radius: 10%;	
width: 50%;
}

.para b{
text-shadow: 1px 1px 8px blue;
}


.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
	display: none;
	}
	
.text {
  color: rgb(0,0,0);
  font-size: 80%;
  padding: 1em ;
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

.prep{
width: 10em;
height: 15em;
overflow: scroll;
margin-top: 2em;
margin-left: 0em;
}
.picsize{
width: 45%;
}






footer{
font-size: 100%;
}

}

@media only screen and (min-width: 768px) and (max-width: 990px){

.prep{
width: 20em;
height: 25em;
overflow: scroll;
margin-top: 2em;
margin-left: 0em;
}
.picsize{
width:80%;
}




}







